@{
    ViewBag.Title = "Home Page";
}

<style>
    p {
        padding-top: 20px;

    }

    #button {
        background-color: #373336;
        padding: 10px 20px;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }
    #button:hover{
        background-color: lightsteelblue;
    }

    h1{
        margin-top: 100px;
    }
</style>
<main>
   <div class="row">
       <div class="col-4">
            <h1>Booking your stay in Capetropolis</h1>
           <p> Secure a safe accomedation and a memorable <br /> experience in our lodging facilities</p>
           <a href=@Url.Action("Hotels", "Home") class="btn btn-primary" id="button">Get Started</a>
           @*or
           @Html.ActionLink("Hotels", "Hotels", "Home", null, new {@class = "btn btn-primary"})*@
       </div>
       
       <div class="col-8">
           <img src="~/Content/Images/lodging-pict.jpg" alt="Lodge" class="img-thumbnail"></img>
       </div>
   </div>
</main>
